<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="nav-link text-dark" (click)="home()">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between dropdown">
                <a class="nav-link text-dark" data-toggle="dropdown">
                    Cadastrar
                </a>
                <div class="dropdown-menu">
                    <a class="nav-link text-dark" (click)="adicionarProduto()">Produto</a>
                </div>
            </div>
        </div>
    </nav>
</header>
